# Ignore all configuration files, which contain usernames and passwords.
# Backup only the example file.
/config*
!/config.json.example

# Ignore the javascript directory for now.  Code is not complete.
# Also need to add instructions to README file for installing
# packages.
/javascript/node_modules/*

# Ignore the python cache files
/python/__pycache__/*
/python/*.pyc

# Ignore compiled java class code
java/*.class
# Ignore java libraries, which may not be redistributable
java/lib/*
!java/lib/otx*

# Ignore downloaded statements
/javascript/statement_downloads/*
/ruby/statement_downloads/*
/python/statement_downloads/*
/php/statement_downloads/*
/go/statement_downloads/*
/java/statement_downloads/*
